body {
  padding-top: 3.5rem;
  background-color: #efefef;

  input:focus {
    box-shadow: none !important;
  }
}

.user-avatar {
    max-width: 150px;
}

.jumbotron {
  padding: 3rem 2rem;
  margin: 0;
}