body {
  padding-top: 3.5rem;
  background-color: #efefef;

  input:focus {
    box-shadow: none !important;
  }
}

.user-avatar {
    max-width: 150px;
}

.jumbotron {
  padding: 3rem 2rem;
  margin: 0;
}

.spinner-border {
  color: $light;
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(20, 20, 20, 0.7);
  z-index: 3;
}